.contain_list{
    box-shadow: 0.5px 0.5px 2px 1px;
    width: 430px;border-radius: 3px;
}

.img_style{
    width: 160px;
    height: 110.3px;
    margin-top: 25px;
    margin-left: 55px;
}

.contain_annonce{
    background-color: white;
    width: 302px;
    height: 450px;
    margin-top: 40px;
    box-shadow: -2px 1px 6px -1.5px;
    border-radius: 5px;
}

.detail_voiture{
    margin-left: 45px;
}


@media screen and (min-width:120px ) and (max-width:2906px ) {
    .contain_annonce { 
    margin-left: auto;
    margin-right: auto;
    width: 403px;
    height: 460px;
    margin-top: 75px;
    }
}
